	body{
		background-color: #E5FFEA;
	}

	#input{
	margin: 0 auto;
	margin-top:100px;
    width: 600px;
	}

	#links{
		width:70%;
	}
	a.one{
/*		display: inline-grid;
		font-size: 50px;
		font-family: 'Roboto', sans-serif;
		color:#D6BDB1;
		padding: 20px 10px 20px 10px;
		border: 1px solid green;
		text-decoration:none;
		margin-top: 20px;*/

		float: left;
    	width: 150px;
    	height: 75px;
    	margin: 42px;
    	border: 3px solid #73AD21;
    	font-family: 'Roboto', sans-serif;
    	font-size: 20px;
    	text-decoration:none;
    	text-align:center;
    	color:#D6BDB1;
    	vertical-align: middle;
	}

	input[type=text] {
	  display: inline-block;
	  color: black;
	  padding: 10px;
	  width: 450px;	
	  height: 50px;
	  background-color: rgba(0,0,0,0.25);
	  border: none;
	  border-radius: 0px;
	  margin: auto;
	  transition:background-color 0.5s ease;
	  font-size: 26px;
	  outline: none;
	  font-family: 'Raleway', sans-serif;
	}

	#button{
		border: none;
		display:inline-block;
		padding:10px;
		padding-bottom:11px;
		width: 120px;
		border-radius: 0px;
		font-size: 26px;
		margin: -5px;
		outline: none;
		font-family: 'Raleway', sans-serif;

	}

	#in{
		margin: 0 auto;
		height: 300px;
		width:600px;
		margin-top: -20px;

	}


	#section_name{
		font-size:60px;
		color: #D6D1B1;
		font-family: 'Patua One', Georgia;
		text-align: center;


	}


	#headline{
		font-size:50px;
		color: #D6BDB1;
		font-family: 'Source Serif Pro', Georgia;
		text-align: center;
		margin-top: -175px;

	}

	#snippet{
		font-size:20px;
		color: #B5D99C;
		font-style: oblique;
		font-family: 'Source Serif Pro', serif;

	}

	div.newsInfoDiv{
		width: 75%;
    	margin: 0 auto; 
	}


